#Binaries
bin/
obj/
out/

#VS files
.vs/
.vscode/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj
**.csproj.user

#Cached files
cache/

#Makefiles
Makefile
Makefile.in

#Python cache files
__pycache__/