[submodule "StreamlineCore/dependencies/glfw"]
	path = StreamlineCore/dependencies/glfw
	url = https://github.com/amayesingnathan/glfw.git
[submodule "StreamlineCore/dependencies/glad"]
	path = StreamlineCore/dependencies/glad
	url = https://github.com/amayesingnathan/glad.git
[submodule "StreamlineCore/dependencies/imgui"]
	path = StreamlineCore/dependencies/imgui
	url = https://github.com/amayesingnathan/imgui.git
[submodule "StreamlineCore/dependencies/ImGuizmo"]
	path = StreamlineCore/dependencies/ImGuizmo
	url = git@github.com:CedricGuillemet/ImGuizmo.git
