[submodule "StreamlineCore/dependencies/glfw"]
	path = StreamlineCore/dependencies/glfw
	url = https://github.com/amayesingnathan/glfw.git
[submodule "StreamlineCore/dependencies/glad"]
	path = StreamlineCore/dependencies/glad
	url = https://github.com/amayesingnathan/glad.git
[submodule "StreamlineCore/dependencies/imgui"]
	path = StreamlineCore/dependencies/imgui
	url = https://github.com/amayesingnathan/imgui.git
[submodule "StreamlineCore/dependencies/ImGuizmo"]
	path = StreamlineCore/dependencies/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo.git
[submodule "StreamlineCore/dependencies/glm"]
	path = StreamlineCore/dependencies/glm
	url = https://github.com/g-truc/glm.git
[submodule "StreamlineCore/dependencies/portable-file-dialogs"]
	path = StreamlineCore/dependencies/portable-file-dialogs
	url = https://github.com/amayesingnathan/portable-file-dialogs.git
